[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
numpy = "*"
sklearn = "*"
matplotlib = "*"
pandas = "*"
scikit-learn = "*"
diffusers = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
